<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>LOGIN</h1>
          <h6>Enter EmailID & Password</h6>
        </div>
        <form>
          <div>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >EMAIL ID</label
                >
                <input
                  formControlName="Email"
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    loginForm.controls['Email'].dirty &&
                    loginForm.hasError('required', 'Email')
                  "
                  >Email ID is required</span
                >
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >PASSWORD</label
                >
                <input
                  formControlName="Password"
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
                <span
                  class="text-danger"
                  *ngIf="
                    loginForm.controls['Password'].dirty &&
                    loginForm.hasError('required', 'Password')
                  "
                  >PassWord is required</span
                >
              </div>

              <button
                type="submit"
                [disabled]="!loginForm.valid"
                class="btn btn-primary"
              >
                LOGIN
              </button>
            </form>
          </div>
          <a class="link" routerLink="/register">New User? Signup here</a>
        </form>
      </div>
    </div>
  </div>
</div>
