table {
  border-collapse: collapse;
  width: 100%;
  border-top: 25px;
}
tr:nth-child(odd) {
  background-color: #66d3fa;
}
tr:nth-child(even) {
  background-color: #d5f3fe;
}
td {
  padding: 6px;
  border: 1px solid black;
  text-align: center;
}
th {
  padding: 5px;
  border: 1px solid black;
  background-color: #0f5298;
  color: white;
  text-align: center;
}
nav {
  background-color: #0f5298;
  color: White;
}
