.card {
  margin-top: 10 px;
  border: none;
  width: 500px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: hsla(205, 46%, 35%, 1);

  /* position,top,left,transform is used to center the form */
}
.card h1,
h6,
label {
  color: white;
}
.link {
  color: white;
  margin-top: 10px;
}
